{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme signInForm 'bootstrap_4_layout.html.twig' %}

    {{ form_start(signInForm) }}

    {{ form_row(signInForm.username, {'attr': {'placeholder': "Your nickname"}, 'label': "Nickname"}) }}
    {{ form_row(signInForm.password, {'attr': {'placeholder': "Your password"}, 'label': "Password"}) }}
    {{ form_row(signInForm.passwordVerify, {'attr': {'placeholder': "Confirm your password"}, 'label': "Password confirmation"}) }}
    {{ form_row(signInForm.email, {'attr': {'placeholder': "Your email adress"}, 'label': "Email adress"}) }}

    <div id="submit" class="text-center">
        <button type="submit" class="btn btn-info">Sign in</button>
    </div>

    {{ form_end(signInForm) }}

    <p id="already">Already registred ? <a href={{ path('app_login_login') }}><strong>Login !</strong></a></p>

{% endblock %}