{% extends 'base.html.twig' %}

{% block title %}Miru | {{ anime.title }} {% endblock %}

{% block body %}
    <div id="animecontainer">
        <div class="animedescription">
            <h1>{{ anime.title }}</h1>
            <div class="headeranime">
                <div class="img">
                    <img src="{{ anime.image_url }}" alt="">
                </div>
                <div class="synopsis">
                    <p>
                        {{ anime.synopsis }}
                        <br/>
                        <br/>
                        <strong>Genres :</strong>
                        {% for genre in anime.genres %}
                            {% if loop.last %}
                                {{ genre.name }}
                            {% else %}
                                {{ genre.name }},
                            {% endif %}
                        {% endfor %}
                        <br/>
                        <br/>
                    </p>
                    <div class="buttons">
                        {% if not app.user %}
                        {% else %}
                            <form action="" method="post">
                                <input type="hidden" value="{{ anime.mal_id }}" name="animeid">
                                <button type="submit" name="watching" value="watching" class="btn btn-info" style="margin-left: 2%"><i class="fas fa-eye"></i> Set as Watching</button>
                                <button type="submit" name="complete" value="complete" class="btn btn-success" style="margin-left: 2%"><i class="fas fa-check"></i> Set as Complete</button>
                                <button type="submit" name="planning" value="planning" class="btn btn-warning" style="margin-left: 2%"><i class="far fa-calendar-check"></i> Set as Planning</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="animecontent">
            <div class="stats">
                <strong>Watching : </strong>{{ wCount|length }}<br/>
                <strong>Complete : </strong>{{ cCount|length }}<br/>
                <strong>Planning : </strong>{{ pCount|length }}
                <br/>
                <br/>
                <strong>Premiered : </strong>{{ anime.premiered }}<br/>
                <strong>Studio : </strong>{% for studio in anime.studios %}{% if loop.last %}{{ studio.name }}{% else %}{{ studio.name }} - {% endif %}{% endfor %}<br/>
                <strong>Licence : </strong>{% for licensor in anime.licensors %}{% if loop.last %}{{ licensor.name }}{% else %}{{ licensor.name }} - {% endif %}{% endfor %}<br/>
                <strong>Duration : </strong>{{ anime.duration }}
            </div>
            <div class="trailer">
                <iframe width="800" height="450"
                        src="{{ anime.trailer_url }}">
                </iframe>
            </div>
        </div>
    </div>
{% endblock %}
